@font-face{
    font-family: "MainTitle";
    src: url('font/Quicksand-Regular.otf');
}
@font-face{
    font-family: "PrincipalTitle";
    src: url('font/saxmono.ttf');
}


.graphtaille{
    height: 50%;
    width: auto;
}


h2 {
    color:white;
    font-family:calibri;
    text-align:center;
}

.main{
    background-color:#34495E;
}

.text{
    font-family:"MainTitle";
    padding-right:5px;
}

.mainTitle{
 
    font-size:20px;
    margin:-1px;
    padding: -1px;
    text-align:center;
    border-radius:2px;
    border:1px solid rgba(255, 255, 255, 0.6);
    color:white;
    opacity:0.9;
    background-color:#34495E;
    font-family: MainTitle;
    
}

.fond{
    background-color:white;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius:5px;
    z-index:-10;
    box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.1);
}

.affichageJauges{
    height:auto;
    margin-top:80px;
    z-index:-10;
    min-width:408px;
    padding:-25px;
    margin:0 auto;
    padding:0 auto;
    width:70%;
}

.submitButton {
    width: 275px;
    height: 40px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom:5px;
    border-radius: 2px;
    border: none;
    border-radius: 3px;
    border: solid 1px #1270B2;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.15);
    background-image: linear-gradient(#0d92f2, #0077cc);
    background-color: #0086e6;
    color: white;
    font-size: 18px;
    cursor: pointer;
    font-family: verdana, arial, tahoma, verdana, helvetica;
    border-color: #0b6fb6;
    background-image: linear-gradient(to bottom, #0088e9, #137cc6);
    
}

.submitButton:hover {
    background-image: linear-gradient(#0086e6, #1a9fff);
}

#status{
    padding-left:20px; 
    font-family:calibri;
    font-size:18px;
    display:none;
}